.App {
  width: 40%;
  margin: 2em auto;
  background-color: rgb(58, 56, 56);
  border-radius: 5px;
  color: white;
}

.todo-header {
  padding: 0.5em;
  border-bottom: 1px solid #2c3035;
  text-align: center;
}

.todo-header h1 {
  margin: 0;
}